# Archivos y carpetas de Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.log

# Archivos de key
key_1
*.pub

# Entornos virtuales
.env/
.venv/
venv/
ENV/
env/
*.env

# Carpetas
tests/
.devcontainer/
ml_development/
ml_examples/

# Secrets
secrets/

# Archivos de configuración ocultos
*.DS_Store
*.idea/
*.vscode/
*.mypy_cache/
*.pytest_cache/
*.bak
*.swp

# Archivos generados por Streamlit o exploraciones
*.csv
*.xlsx
*.db
*.sqlite3

# Jupyter (si usas notebooks en el proyecto)
.ipynb_checkpoints/

# Resultados temporales
output/
results/
tmp/
temp/
*.tmp

# Git
.gitignore
